#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <7>;
    scroll-layers = <6>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 10>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 11>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q             &kp W         &kp E             &kp R        &kp T                                                   &kp Y            &kp U  &lt 6 I    &kp O                &kp P
&mt LCTRL A       &kp S         &kp D             &kp F        &kp G        &kp LS(LG(LC(NUMBER_4)))      &kp ESC      &kp H            &kp J  &kp K      &kp L                &kp QUESTION
&mt LEFT_SHIFT Z  &kp X         &kp C             &kp C        &kp V        &kp LC(UP_ARROW)              &kp B        &kp N            &kp M  &kp COMMA  &mt RIGHT_SHIFT DOT  &kp ENTER
&kp LCTRL         &kp LEFT_ALT  &kp LEFT_COMMAND  &lt 1 LANG2  &lt 2 SPACE  &lt 3 MINUS                   &lt 4 LANG1  &lt 5 BACKSPACE                                         &kp DEL
            >;

            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        MATH {
            bindings = <
&trans  &kp BACKSLASH     &kp DOLLAR            &kp HASH               &trans                                       &kp PLUS      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ASTRK
&trans  &kp EXCLAMATION   &kp AMPERSAND         &kp PIPE               &kp EQUAL      &trans                &trans  &kp MINUS     &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp SLASH
&trans  &kp SINGLE_QUOTE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LESS_THAN  &kp GREATER_THAN      &trans  &kp NUMBER_0  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp PERCENT
&trans  &trans            &trans                &trans                 &trans         &trans                &trans  &trans                                                  &trans
            >;
        };

        SYMBOLS {
            bindings = <
&trans  &kp LS(EXCL)  &kp LS(DQT)    &kp LS(POUND)  &kt TILDE                             &kp EXCLAMATION   &kp LBKT              &kp RBKT               &kp AT    &kp J
&trans  &kp LS(DLLR)  &kp LS(PRCNT)  &kp LS(AMPS)   &kp GRAVE  &trans      &trans         &kp QUESTION      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SEMI  &kp COLON
&trans  &kp LS(SQT)   &kp CARET      &kp LS(PIPE)   &trans     &trans      &kp LESS_THAN  &kp GREATER_THAN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp FSLH  &kp UNDER
&trans  &trans        &trans         &trans         &trans     &trans      &trans         &trans                                                                   &trans
            >;
        };

        ARROW {
            bindings = <
&trans  &kp LC(NUMBER_1)  &kp LC(NUMBER_2)  &kp LC(NUMBER_3)  &trans                      &trans    &kp LA(LEFT)        &kp UP_ARROW    &kp LA(RIGHT_ARROW)  &trans
&trans  &kp LC(NUMBER_4)  &kp LC(NUMBER_5)  &kp LC(NUMBER_6)  &trans  &trans      &trans  &kp HOME  &kp LEFT_ARROW      &kp DOWN_ARROW  &kp RIGHT_ARROW      &kp END
&trans  &kp LC(NUMBER_7)  &kp LC(NUMBER_8)  &kp LC(NUMBER_9)  &trans  &trans      &trans  &trans    &kp LC(LEFT_ARROW)  &trans          &kp LC(RIGHT_ARROW)  &trans
&trans  &trans            &trans            &trans            &trans  &trans      &trans  &trans                                                             &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        FUNCTION {
            bindings = <
&trans  &trans   &trans   &trans  &trans                      &trans  &kp F1  &kp F2  &kp F3  &kp F10
&trans  &kp F14  &kp F15  &trans  &trans  &trans      &trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11
&trans  &trans   &trans   &trans  &trans  &trans      &trans  &trans  &kp F7  &kp F8  &kp F9  &kp F12
&trans  &trans   &trans   &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        NAVIGATION {
            bindings = <
&trans  &kp LC(NUMBER_1)  &kp LC(NUMBER_2)  &kp LC(NUMBER_3)  &trans                           &bt BT_SEL 0       &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &kp LC(NUMBER_4)  &kp LC(NUMBER_5)  &kp LC(NUMBER_6)  &trans  &trans      &trans       &kp LG(LA(LC(B)))  &trans        &trans        &trans        &kp LC(F14)
&trans  &kp LC(NUMBER_7)  &kp LC(NUMBER_8)  &kp LC(NUMBER_9)  &trans  &trans      &bootloader  &trans             &trans        &trans        &trans        &bt BT_CLR
&trans  &trans            &trans            &trans            &trans  &trans      &trans       &trans                                                       &bt BT_CLR_ALL
            >;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &kp LG(X)                      &trans  &kp LA(F7)  &lt 6 F5  &trans    &trans
&trans  &trans  &trans  &trans  &kp LG(C)  &trans      &trans  &trans  &mkp MB1    &mkp MB3  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &kp LG(V)  &trans      &trans  &trans  &mkp MB4    &trans    &mkp MB5  &trans
&trans  &trans  &trans  &trans  &trans     &trans      &trans  &trans                                  &trans
            >;
        };
    };
};
